@import url(http://fonts.googleapis.com/css?family=Buenard:400,700|Yanone+Kaffeesatz:400,700);

.container {
    max-width: 910px;
/*     font-family: "Buenard", serif; */
}

nav {
    font-family: "Bitter", serif;
}

body {
  padding-top: 50px;
  font-family: "Buenard", serif; 
  font-size: 16px; 
}
.starter-template {
  padding: 30px 15px;
  text-align: left;
  font-family: "Buenard", serif;
  
}
/* "Source Sans Pro", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;*/ 

.lead{
    font-size:18px;
}

#containerCV {
    background-color: #fff;
    color: #333;
    font-family: "Buenard", serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    width: 936px;
    margin: 50px auto;
}

header {
    *zoom: 1;
}

header:before, header:after {
    display: table;
    content: "";
}

header:after {
    clear: both;
}

#address {
    float: right;
    text-align:right;
}

#contact {
    float: right;
    text-align: right;
}

.name {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
}

/* Content */

section {
    margin-top: 30px;
}

h3 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
}

section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

section ul li {
    margin-bottom: 8px;
    *zoom: 1;
}

section ul li:before, section ul li:after {
    display: table;
    content: "";
}

section ul li:after {
    clear: both;
}

section ul li span {
    display: inline-block;
}

.indent {
    margin-left: 105px;
    padding-left: 10px;
    border-left: 3px solid #ddd;
    width: 600px;
}

.date {
    width: 130px;
    margin-right: 0;
    text-align: right;
    float: right;
    font-size: 12px;
}

.position {
    font-style: italic;
}

.institute {
    font-weight: 600;
}

.title {
    display: block;
    float: left;
    width: 680px;
}

.meta {
    display: block;
    margin-left: 40px;
    font-size: 14px;
    line-height: 18px;
    clear: both;
}

.code-name {
    display: block;
    float: left;
    width: 90px;
    margin-right: 20px;
    text-align: right;
}

.code-desc {
    display: block;
    float: left;
    width: 690px;
}

.bottom {
    width: 80%;
    text-align: center;
    color: #5b5b5b;
    font-family: "Buenard", serif;
    font-weight: normal;
    font-size: 14px;
    padding: 20px 0 50px;
}

.bottom hr {
    display: block;
    width: 14%;
    margin: 40px auto;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.15);
    box-sizing: content-box;
    height: 0;
}

.bottom p {
    margin: 0;
}

.bottom a {
    background-position: 0 14px;
    font-weight: 700;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 11px;
}